.product {
  background-color: white;
  margin-bottom: 2rem;
  width: 30%;
}

.product a {
  text-decoration: none;
}

.card-product {
  align-items: center;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.15) 0 2px 8px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.card-product:hover {
  box-shadow: rgba(99, 99, 99, 0.25) 0 2px 8px 0;
}

.card-product .product-title {
  font-size: small;
  text-align: center;
}

.card-product img {
  margin: 0.7rem;
  width: 100%;
}
