.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem 5rem;
}

.container-search {
  width: 80%;
}

.input-search {
  border: 1px solid #bbb;
  border-radius: 0.5rem;
  margin: 0 1rem;
  padding: 0.5rem 0.6rem;
  width: 80%;
}

.input-search:focus {
  outline: none;
  box-shadow: rgba(15, 23, 90, 0.09) 0 2px 5px;
}

.cart-button {
  align-items: center;
  display: flex;
}

.cart-button p {
  margin: 0 0.5rem;
}

.header a {
  text-decoration: none;
}
