@font-face {
  font-family: trybeLibre;
  src: url('../font/harabara_mais/Harabara\ Mais\ Demo.otf');
}

:root {

  --bgColor: rgb(46, 46, 46);

}

.header {
  align-items: center;
  background-color: var(--bgColor);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px 50px;
}

h1 {
  color: whitesmoke;
  font-family: trybeLibre , Courier New , Courier , monospace;
  font-size: 28px;
  letter-spacing: 4px;
  text-align: center;
  user-select: none;
}

.cart-button {
  align-items: center;
  display: flex;
}

.cart-button p {
  margin: 0 0.5rem;
}

.header a {
  text-decoration: none;
}
