.main-content {
  align-items: flex-start;
  display: flex;
  margin: 2rem 0;
}

.main-content .initial-message {
  text-align: center;
  width: 80vw;
}

.products-container .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.categories {
  background-color: #2e2e2e;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.15) 0 2px 8px 0;
  margin: 0 1.5rem;
  max-width: 20vw;
  min-width: 20vw;
  padding: 0.8rem 0;
}

.categories ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.categories ul li {
  border-bottom: 1px solid #616161;
  list-style: none;
}

.categories .btn-category {
  background-color: inherit;
  border: none;
  color: #fafafa;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  text-align: start;
  user-select: none;
  width: 100%;
}

.categories ul li:last-child {
  border-bottom: 0;
}

.categories .btn-category:hover {
  background-color: #252525;
}

.products-container {
  width: 80vw;
}

.loader {
  text-align: center;
}
