.product-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
  width: 680%;
}

.product-basic {
  border: 2px solid black;
  margin-right: 10px;
}

.product-basic .product-name {
  font-size: x-large;
  max-width: 40vw;
}

.product-basic .product-price {
  font-size: x-large;
  font-weight: 600;
}

.product-basic img {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  margin: 1rem 0;
}

.product-specifications {
  border: 2px solid black;
  height: 50vh;
  margin-top: 5rem;
  overflow: auto;
  width: 90vw;
}

.product-specifications ul {
  height: inherit;
}

.product-specifications p {
  font-size: large;
  margin: 1rem;
}

.product-description {
  line-height: 1.5rem;
  margin: 2rem 0;
  text-align: justify;
  width: 80%;
  
}

.product-basic button {
  margin: 0.7rem 0 0.5rem;
}

.reviews .reviews-title {
  font-size: x-large;
}

.icon-back {
  font-size: 36px;
  left: 5px;
  margin: 0;
  position: absolute;
  text-decoration: none;
  top: 75px;
  transition: all 0.2s linear;
}

.icon-back:hover {
  transform: scale(1.4);
}
