.product-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.product-info {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-basic {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.product-basic .product-name {
  font-size: xx-large;
  text-align: center;
}

.product-basic .product-price {
  font-size: x-large;
  font-weight: 600;
  margin: 1rem 0;
}

.product-info img {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  margin-bottom: 1rem;
  width: 45vw;
}

.product-more {
  border-bottom: 1px solid #252525;
  display: flex;
  justify-content: space-between;
  margin: 2rem 5%;
  padding: 1rem;
  width: 80%;
}

.info-title {
  font-size: large;
  margin: 1rem;
}

.product-description {
  line-height: 1.5rem;
  text-align: justify;
  width: 50%;
}

.product-description .description {
  margin-left: 1rem;
}

.product-specifications {
  width: 40%;
}

.product-specifications ul {
  padding: 0 1.5rem;
}

.product-basic button {
  margin: 0.7rem 0 0.5rem;
}

.reviews .reviews-title {
  font-size: x-large;
}

.icon-back {
  font-size: 36px;
  left: 5px;
  margin: 0;
  position: absolute;
  text-decoration: none;
  top: 75px;
  transition: all 0.2s linear;
}

.icon-back:hover {
  transform: scale(1.4);
}
